In [28]:
import pandas as pd
data = pd.read_csv('hw_25000.csv')
data

       Index    Height    Weight
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[25000 rows x 3 columns]

In [29]:
height_all = list(data['Height'])
weight_all = list(data['Weight'])

In [51]:
height_selected = []
weight_selected = []
for i in range(len(height_all)):
    if 170 <= height_all[i]*2.54 <= 180:
        height_selected.append(height_all[i])
        weight_selected.append(weight_all[i])
avg_weight_all = sum(weight_all)/len(weight_all)

avg_weight_selected = sum(weight_selected[0:21])/len(weight_selected[0:21])

In [56]:
 avg_weight_selected - avg_weight_all

4.4340931249151225